APP_NAME="Mi Horóscopo"
# APP_ENV=local
APP_ENV=production

APP_KEY=base64:5VBHB8rY1lOtUV43q5Py9KJHCqtOQNRWcM+n1dBSCAc=
# APP_DEBUG=true
APP_DEBUG=false

APP_TIMEZONE=UTC
APP_URL=https://mihoroscopo.com.ar

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=srv484.hstgr.io
DB_PORT=3306
# DB_DATABASE=u487445196_tudex
# DB_USERNAME=u487445196_tudex
# DB_PASSWORD=|k>9oqIr:8Je




DB_DATABASE=u487445196_mihoroscopo
DB_USERNAME=u487445196_mihoroscopo
DB_PASSWORD=Ha$9X;6^qrM7

CACHE_STORE=file
SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
# QUEUE_CONNECTION=database
QUEUE_CONNECTION=sync

CACHE_DRIVER=file
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

SESSION_DRIVER=file

# MAIL_MAILER=log
# MAIL_HOST=127.0.0.1
# MAIL_PORT=2525
# MAIL_USERNAME=null
# MAIL_PASSWORD=null
# MAIL_ENCRYPTION=null
# MAIL_FROM_ADDRESS="hello@example.com"
# MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

# MERCADOPAGO_ACCESS_TOKEN=TEST-8219629790209665-062910-57a69669a55a912ad65e2ca518e13cbe-212784792
# MERCADOPAGO_PUBLIC_KEY=TEST-8be154d7-4fa9-4b7e-a60b-e7a4370bed24

MERCADOPAGO_ACCESS_TOKEN=APP_USR-8219629790209665-062910-420b6ac831a33108c2677609f5d97655-212784792
MERCADOPAGO_PUBLIC_KEY=APP_USR-d90e9fb4-47d2-45dc-b1f3-97eb2da2a260

NombredeusuariodeIAM=laravel-mail
MAIL_MAILER=smtp
MAIL_HOST=email-smtp.us-east-2.amazonaws.com
MAIL_PORT=465
MAIL_USERNAME=AKIAQKYBJNBUW7QOMMUM
MAIL_PASSWORD=BKMh0Iz8sUr/pP1kjXnxApNRvirDOHC36F2sE75OGPgK
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=tudexsocial@tudexnetworks.com
MAIL_FROM_NAME="${APP_NAME}"

VIEW_DIRECTORY="mihoroscopo"
ADMIN_KEY=123456


ADMIN_PASSWORD=supersecreta123

DLOCALGO_API_KEY=
DLOCALGO_API_URL=https://api.dlocalgo.com
