<IfModule mod_headers.c>
    # Permitir solicitudes CORS solo desde el dominio de origen
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET, POST, OPTIONS, PUT, DELETE"
    Header set Access-Control-Allow-Headers "Content-Type, Authorization, X-Requested-With"
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

   # Redirección de www a sin www
   RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
   RewriteRule ^(.*)$ https://%1/$1 [R=301,L]


    # Redirige todas las solicitudes al directorio 'public'
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
